@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Khand:wght@400;600&family=Yanone+Kaffeesatz:wght@400;600&display=swap");

html.light-mode {
  --background-color: #f5f8f8;
  --text-color-00: #280230;
  --box-color-00: #c0c0c069;
  --box-color-01: #ccc;
  --shadow: 0 4px 8px 0 #00000040;
  --border-color: #00000040;
}

html {
  --background-color: #181920;
  --text-color-00: #fff;
  --box-color-00: #2f3744;
  --box-color-01: #404b5c;
  --shadow: 0 4px 8px 0 #ffffff4d;
  --border-color: #ffffff4d;
  --success-color: #00c851;
  --danger-color: #ff4444;
  --warning-color: #fb3;
  /* --success-color: #007e33;
  --danger-color: #cc0000;
  --warning-color: #f80; */
}

.progress-bar {
  background: var(--danger-color) !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
